<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <appSettings>
    <add  key="key1" value="val1"/>

    <add key="Local"
         value="Data Source=HP\SQLEXPRESS;Initial Catalog=DesignHelpyDB;Integrated Security=True"/>
    <add key="LiveDNS"
         value="Data Source=185.60.170.14;Integrated Security=False;User ID=site08;Password=q~N144wm;"/>
  </appSettings>

  <connectionStrings>
    <add name="Local"
         connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=DesignHelpyDB;Integrated Security=True"/>
    <add name="LiveDNS"
         connectionString="Data Source=185.60.170.14;Integrated Security=False;User ID=site08;Password=q~N144wm;"/>
  </connectionStrings>
  
</configuration>