USE [master]
GO
/****** Object:  Database [DesignHelpyDB]    Script Date: 5/28/2019 2:47:39 PM ******/
CREATE DATABASE [DesignHelpyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesignHelpyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DesignHelpyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DesignHelpyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DesignHelpyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesignHelpyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesignHelpyDB]
GO
USE [DesignHelpyDB]
GO
/****** Object:  Table [dbo].[DTBAdmin]    Script Date: 5/28/2019 2:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTBAdmin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [nvarchar](50) NOT NULL,
	[AdminPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DTBAdmin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTBLocations]    Script Date: 5/28/2019 2:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTBLocations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_DTBLocations_1] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTBReports]    Script Date: 5/28/2019 2:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTBReports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ReportTypeID] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[ReportTime] [time](0) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[IsVictim] [bit] NOT NULL,
	[PictureSrc] [nvarchar](200) NULL,
	[AudioSrc] [nvarchar](200) NULL,
	[ReportInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_DTBReports] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTBReportType]    Script Date: 5/28/2019 2:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTBReportType](
	[ReportTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DTBReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTBUsers]    Script Date: 5/28/2019 2:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTBUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DTBUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DTBAdmin] ON 

INSERT [dbo].[DTBAdmin] ([AdminID], [AdminUserName], [AdminPassword]) VALUES (1, N'admin', N'123')
INSERT [dbo].[DTBAdmin] ([AdminID], [AdminUserName], [AdminPassword]) VALUES (2, N'borg', N'123')
INSERT [dbo].[DTBAdmin] ([AdminID], [AdminUserName], [AdminPassword]) VALUES (3, N'lala', N'123')
SET IDENTITY_INSERT [dbo].[DTBAdmin] OFF
SET IDENTITY_INSERT [dbo].[DTBReports] ON 

INSERT [dbo].[DTBReports] ([ReportID], [UserID], [ReportTypeID], [ReportDate], [ReportTime], [Latitude], [Longitude], [IsVictim], [PictureSrc], [AudioSrc], [ReportInfo]) VALUES (8, 2, 1, CAST(N'2019-05-23' AS Date), CAST(N'15:13:41' AS Time), N'32.381037', N'34.8643711', 0, NULL, NULL, NULL)
INSERT [dbo].[DTBReports] ([ReportID], [UserID], [ReportTypeID], [ReportDate], [ReportTime], [Latitude], [Longitude], [IsVictim], [PictureSrc], [AudioSrc], [ReportInfo]) VALUES (9, 2, 1, CAST(N'2019-05-23' AS Date), CAST(N'15:15:34' AS Time), N'32.381037', N'34.8643711', 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DTBReports] OFF
SET IDENTITY_INSERT [dbo].[DTBReportType] ON 

INSERT [dbo].[DTBReportType] ([ReportTypeID], [TypeName]) VALUES (1, N'test')
INSERT [dbo].[DTBReportType] ([ReportTypeID], [TypeName]) VALUES (2, N'test2')
SET IDENTITY_INSERT [dbo].[DTBReportType] OFF
SET IDENTITY_INSERT [dbo].[DTBUsers] ON 

INSERT [dbo].[DTBUsers] ([UserID], [Phone], [Code]) VALUES (1, N'0547566757', N'0000')
INSERT [dbo].[DTBUsers] ([UserID], [Phone], [Code]) VALUES (2, N'0543333333', N'0000')
SET IDENTITY_INSERT [dbo].[DTBUsers] OFF
ALTER TABLE [dbo].[DTBReports]  WITH CHECK ADD  CONSTRAINT [FK_DTBReports_DTBReportType] FOREIGN KEY([ReportTypeID])
REFERENCES [dbo].[DTBReportType] ([ReportTypeID])
GO
ALTER TABLE [dbo].[DTBReports] CHECK CONSTRAINT [FK_DTBReports_DTBReportType]
GO
ALTER TABLE [dbo].[DTBReports]  WITH CHECK ADD  CONSTRAINT [FK_DTBReports_DTBUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[DTBUsers] ([UserID])
GO
ALTER TABLE [dbo].[DTBReports] CHECK CONSTRAINT [FK_DTBReports_DTBUsers]
GO
USE [master]
GO
